body {
    font-family: arial, sans-serif;
    background-color: black;
    margin:0;
}

#quando_labels {
    -webkit-user-select: auto;
    user-select: auto;
}

#container {
    -webkit-user-select: none;
    user-select: none;
}

#quando_text,
#quando_title {
    position: absolute;
    visibility: hidden; 
    z-index: 99;
    display: table-cell;
    color: ffffff;
    margin: 0px;
    background-color: rgba(224, 119, 0, 0.6);
    border: 0px;  /* solid grey; */
}

#hiddenCanvas {
    z-index: 2;
}

.quando_label::before {
    content: '\25b6\0020';
}
.quando_label {
    font-size: 2.1vw;
    color: ffffff;
    padding: 5px;
    margin: 2px 2px 5px 2px;
}

#inp {
    height: 1.9vw;
    width: 80%;
    padding: 5px;
}

#inpButton {
    height: 1.9vw;
}

#quando_labels {
    position: absolute;
    z-index: 100;
    bottom: 5%;
    width: 50%;
    left:10%;
}
#quando_title {
    font-size: 3.7vw;
    top: 0%;
/*    width: 100%; */
    vertical-align: top; /* was text-top */
    left:0%;
    right:0%;
    text-align: center;
}
#quando_text {
    font-size: 1.8vw;
    padding: 5px;
/*    margin: 10px;*/
    top: 15%;
    width: 50%;
    left: 5%;
    vertical-align: top;
    text-align: left;
}
#quando_image_parent, #container {
    overflow: hidden;
}

#quando_image, #quando_image_display {
    height:100%;
    width:100%;
    object-fit: contain;
}

#quando_image, #quando_image_display, #quando_3d {
    /* object-fit: contain; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: -10;
}

#quando_3d {
    z-index: 0;
}
#quando_video {
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    visibility: hidden;
}

#container {
  width: 100%;
  height: 100%;
}

#quando_image_parent {
    background-image: url('transparent.png');
    background-size:contain;
    width:100%;
    height:100%;
}

#cursor {
    position: fixed;
    z-index: 910;
    border-radius: 100%;
    visibility:hidden; /* make it invisible to start - the leap movement will make it appear */
    transition: width 0.1s linear;
/*    background: radial-gradient(100px 100px, circle, #ffff00, #000);*/
}
.quando_label {
    font-weight: normal;
    /*background-color: rgba(224, 119, 0, 0.7);*/
    transition: opacity 1.0s linear;
    background-color: rgb(224, 119, 0);
    opacity: 0.7;
}
.quando_label.focus {
    font-weight: 700;
    margin: 0px 0px 3px 0px;
    background-color: rgb(224, 119, 0);
    opacity: 1;
}

