body {
    font-family: sans-serif;
}
#quando_text,
#quando_title {
    position: absolute;
    visibility: hidden; 
    z-index: 100;
    display: table-cell;
    color: ffffff;
    margin: 0px;
    background-color: rgba(224, 119, 0, 0.6);
    border: 0px;  /* solid grey; */
}
.quando_label::before {
    content: '\25b6';
}
.quando_label {
    font-size: 25px;
    color: ffffff;
    padding: 5px;
    margin-bottom: 5px;
}
#quando_labels {
    position: absolute;
    z-index: 100;
    bottom: 5%;
    width: 50%;
    left:10%;
}
#quando_title {
    font-size: 50px;
    top: 0px;
    width: 100%;
    vertical-align: text-top;
    left:0px;
    text-align: center;
}
#quando_text {
    font-size: 25px;
    padding: 5px;
/*    margin: 10px;*/
    top: 15%;
    width: 50%;
    left: 5%;
    vertical-align: top;
    text-align: left;
}

#quando_image {
    object-fit: contain;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: -100;
}

#quando_video {
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    visibility: hidden;
}

#container {
/*  display: table;*/
  width: 100%;
  height: 100%;
}

#quando_image {
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    background-image: url('transparent.png');
    background-color: black;
}
#cursor {
    width: 80px;
    height: 80px;
    position: fixed;
    margin-left: -40px;
    margin-top: -40px;
    z-index: 910;
    opacity: 0.7;
    background: #ffcc00;
    border-radius: 100%;
    visibility:hidden; /* make it invisible to start - the leap movement will make it appear */
    -webkit-transition: width 0.1s linear;
    -moz-transition: width 0.1s linear;
    -o-transition: width 0.1s linear;
    transition: width 0.1s linear;
/*    background: radial-gradient(100px 100px, circle, #ffff00, #000);*/
}
.quando_label {
    -webkit-transition: background-color 0.8s linear;
    -moz-transition: background-color 0.8s linear;
    -o-transition: background-color 0.8s linear;
    transition: background-color 0.8s linear;
    background-color: rgba(224, 119, 0, 0.6);
}
.quando_label.focus {
    background-color: rgba(224, 119, 0, 1);
}