* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#show_modal_code {
  width:100%;
  height:60%;
}

#_hidden_width_element_ { 
  /* Used to calculate the width of text typed in */
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}

#_hidden_width_element_,
.quando-block input,
.quando-block select {
  font-family : inherit;
  background-color: rgba(255,255,255, 0.65);
  border:none;
  border:1px solid rgba(0,0,0, 0.3);
  border-radius: 6px;
}

input, #_hidden_width_element_ {
  padding-left: 4px;
  min-width: 10px;
  width: auto;
}

#editor_content {
    display:flex;
}

  #menu {
    position:relative;
    float: left;
    width: 35%;
    background-color: #ffffff;
  }

  #script {
    position:relative;
    margin-left: 35%;
    width:100%;
    background-color: #ffeeee;
  }

  #menu, #script {
    padding: 4px;
    height: 100%;
    margin: 0 auto;
    border-right: 4px;
    border-color: #808080;
    border-style: solid;
    overflow: auto;
  }

  #menu, #script, .quando-box {
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
  }

  .quando-title {
    color: white;
    font-size: large;
    left: 0px;
    margin-bottom: 4px;
    background: #888888;
    text-align: center;
    float: left;
    z-index: 1;
  }

  .quando-block {
    width: max-content;
    height: max-content;
    margin: 0px 0px 4px 0px;
  }

  .quando-block:hover {
    cursor: move;
  }

  .quando-block:hover>.quando-left,
  .quando-block:hover>*>.quando-row {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  }

  .quando-left {
    position:relative;
    float:left;
    width: 8px;
    height:100%;
    border-radius: 6px 0px 0px 6px;
  }

  .quando-right {
    position:relative;
    z-index:1;
    border-radius: 0px 6px 6px 0px;
    margin-left:8px;
    width:100%;
  }

  .quando-row {
    padding: 4px;
    border-radius: 0px 6px 6px 0px;
  }

  .quando-block, .quando-box {
    text-align: left;
    transition: all .3s ease;
  }

  .quando-box {
    margin: 0px 8px 0px 4px;
    padding: 4px 0px 0px 0px;
    min-height: 10px;
    width: 100%;
  }

  input[type="color"] {
    border: none;
    margin: none;
    width: 22px;
    padding: 0px;
  }
  /* #script .quando-box {
    min-height: 24px;
  } */

 /* Colours for block backgrounds and title */

  .quando-display {
    background: #EEBB70;
  }
  .quando-media {
    background: #C5E1A5;
  }
  .quando-time {
    background: #ddd47c;
  }
  .quando-inventor {
    background: #c3adeb;
  }
  .quando-watson {
    background: #6495ed	;
  }
  .quando-AR {
    background: #9acd32;
  }
  .quando-puzzle {
    background: #f57694;
  }
  .quando-advanced {
    background: #ef9a9a;
  }
  .quando-devices {
    background: #81d4fa;
  }
  .quando-misc {
    background: #6bac5e;
  }
  .quando-style {
    background: #a0a0d0;
  }

  /* .quando-separator {
    border-top-style:solid;
    border-top-width:10px;
    border-top-color: rgba(196,0,0,0.5);
    margin-top: 12px;
  } */

  select.quando-toggle {
    -webkit-appearance:none;
    appearance:none;
    padding-left: 4px;
    padding-right: 4px;
  }

  .quando-info {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: rgba(255,255,255, 0.4);
  }

  .quando-comment {
    filter: grayscale(75%);
  }

  .iconify {
    padding:1px;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 3px #222222;
  }
  /* the 200 value colours from https://www.materialui.co/colors
-- red ef9a9a
   Pink F48FB1
   purple CE93D8
   Deep Purple B39DDB
   Indigo 9FA8DA
   Blue 90CAF9
   Light Blue 81D4FA
   Cyan 80DEEA
   Teal 80CBC4
   Green A5D6A7
-- Light Green C5E1A5
   Lime E6EE9C
   Yellow FFF59D
   Amber FFE082
-- Orange FFCC80
   Deep orange FFAB91
   Brown BCAAA4
   Grey EEEEEE
   Blue Grey B0BEC5
  */

