* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.quando-block input,
.quando-block select {
  font-family : inherit;
  font-size   : 100%;
  background-color: rgba(255,255,255, 0.65);
}

input, select {
  border:none;
  border:1px solid rgba(0,0,0, 0.3);
}

input {
  padding-left: 4px;
}

  #menu, #script {
    padding: 4px;
    height: 100%;
    margin: 0 auto;
    border-right: 4px;
    border-color: #808080;
    border-style: solid;
  }

  #menu, #script, .quando-box, .quando-title {
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
  }
  
  .quando-title {
    color: white;
    font-size: large;
    left: 0px;
    margin-bottom: 4px;
    background: #888888;
  }

  .quando-block {
    margin: 0px 2px 6px 0px;
    padding: 4px 14px 4px 0px;
    width: max-content;
    border-radius: 6px;
    border-left: 8px;
    /* box-shadow: 2px 2px 3px rgba(0,0,0,0.5); */
  }

  .quando-block:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    cursor: move;
  }

  .quando-block, .quando-box {
    text-align: left;
    transition: all .3s ease;
  }

  .quando-box {
    min-height: 2em;
    position: relative;
    left: 14px;
    margin: 4px 0px 4px 0px;
    padding: 6px 4px 4px 4px;
    background-color: rgba(255,255,255, 1);
    width: 100%;
    border-radius: 6px 0px 0px 6px;
  }

  .quando-display {
    background: #FFCC80;
  }
  .quando-media {
    background: #C5E1A5;
  }
  .quando-time {
    background: #ef9a9a;
  }

  /* the 200 value colours from https://www.materialui.co/colors
-- red ef9a9a
   Pink F48FB1
   purple CE93D8
   Deep Purple B39DDB
   Indigo 9FA8DA
   Blue 90CAF9
   Light Blue 81D4FA
   Cyan 80DEEA
   Teal 80CBC4
   Green A5D6A7
-- Light Green C5E1A5
   Lime E6EE9C
   Yellow FFF59D
   Amber FFE082
-- Orange FFCC80
   Deep orange FFAB91
   Brown BCAAA4
   Grey EEEEEE
   Blue Grey B0BEC5
  */

