* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html,
body,
#editor_content {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
}

#show_modal_code {
  width:100%;
  height:60%;
}

#_hidden_width_element_ { 
  /* Used to calculate the width of text typed in */
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}

.quando-block {
  user-select: none;
}

#_hidden_width_element_,
.quando-block input,
.quando-block select {
  font-family : inherit;
  background-color: rgba(255,255,255, 0.65);
  border:none;
  border:1px solid rgba(0,0,0, 0.3);
  border-radius: 6px;
}

.quando-block select,
select.quando-toggle {
  box-shadow: 1px 0px  rgba(0,0,0,0.6);
}

input, #_hidden_width_element_ {
  padding-left: 4px;
  min-width: 10px;
  width: auto;
  box-shadow: 1px 0px 2px inset rgba(0,0,0,0.4);
}

#editor_content {
    display:flex;
    background-color: #ddffff;
}

#menu {
  float: left;
  width: 35%;
  background-color: #ffffff;
  border-right: 4px;
}

#script {
  background-color: #ffeeee;
}

#script, #clipboard {
  width:100%;
}

#menu, #script, #clipboard {
  padding: 4px;
  height: 100%;
  margin: 0 auto;
  border-color: #808080;
  border-style: solid;
  overflow: auto;
  z-index: 0;
}

.quando-box {
  z-index:1;
}

#menu, #script, #clipboard, .quando-box {
  position:relative;
  display: flex;
  flex-flow: column nowrap;
}

.quando-title {
  color: white;
  font-size: large;
  left: 0px;
  margin-bottom: 4px;
  background: #888888;
  text-align: center;
  float: left;
  z-index: 1;
}

.quando-block {
  width: max-content;
  height: max-content;
  margin: 0px 0px 4px 4px;
  position:relative;
}

.quando-block:hover {
  cursor: move;
}

.quando-left {
  position:absolute;
  top:0px;
  left:0px;
  float:left;
  z-index:1;
  width: 8px;
  height:100%;
  border-radius: 6px 0px 0px 6px;
}

.quando-right {
  position:relative;
  z-index:1;
  margin-left: 8px;
  width:100%;
}

.quando-row {
  padding: 4px 4px 4px 8px;
  border-radius: 0px 6px 6px 0px;
}

.quando-right>.quando-row:first-child {
  border-radius: 6px 6px 6px 6px;
  margin-left: -12px;
}

.quando-block, .quando-box {
  text-align: left;
  transition: all .3s ease;
}

.quando-box {
  margin: 0px 8px 0px 4px;
  padding: 4px 0px 4px 0px;
  min-height: 24px;
  width: 100%;
}

input[type="color"] {
  border: none;
  margin: 0 auto;
  width: 22px;
  padding: 0px;
  box-shadow: none;
}

/* Colours for block backgrounds and title */

.quando-inventor { background: #880000; }
.quando-display { background: #EEBB70; }
.quando-media { background: #C5E1A5; }
.quando-time { background: #ddd47c; }
.quando-watson { background: #6495ed	; }
.quando-puzzle { background: #f788a2; }
.quando-advanced { background: #ef9a9a; }
.quando-devices { background: #81d4fa; }
.quando-robot { background: #bbbbdd; }
.quando-misc { background: #6bac5e; }
.quando-style { background: #a0a0d0; }
.quando-watson { background: #97b8f3	; }
.quando-AR { background: #b0d95e; }
.quando-game { background: #ffc88c; }
.quando-test { background: #555555; }
.quando-clipboard, #clipboard { background: #888888; }
.quando-inventor-control { background: hsl(0, 50%, 90%); }
.quando-inventor-input { background: hsl(112, 50%, 90%); }
.quando-inventor-display { background: hsl(194, 50%, 90%); }
.quando-inventor-collection { background: hsl(274, 50%, 90%); }
.quando-inventor-picker { background: hsl(80, 50%, 90%); }
.quando-eeg { color: white; background: #f75a00; }

.quando-right>.quando-row.quando-inventor-control:first-child,
.quando-right>.quando-row.quando-inventor-input:first-child,
.quando-right>.quando-row.quando-inventor-display:first-child,
.quando-right>.quando-row.quando-inventor-collection:first-child,
.quando-right>.quando-row.quando-inventor-picker:first-child {
  border-left: 6px solid #880000;
}

.quando-eeg input, .quando-eeg select {
  color: black;
}

select.quando-toggle {
  -webkit-appearance:none;
  appearance:none;
  padding-left: 4px;
  padding-right: 4px;
  text-align-last: center;
}

.quando-info {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255,255,255, 0.4);
}

.iconify {
  padding:1px;
  color: #000;
  font-weight: bold;
  text-shadow: 1px 1px 3px #222222;
}

#right-click-menu {
  visibility:hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  background-color: white;
  padding: 8px;
  box-shadow: 0 0 2px 4px  rgb(0, 0, 0, 0.7);
}

.right-click-menu-item:hover:not([disabled]) {
  background-color: lightblue;
}

 /* Tooltip container */
 .hover {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.hover .hovertext {
  visibility: hidden;
  min-width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.hover .hovertext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hover:hover .hovertext {
  visibility: visible;
  opacity: 1;
} 

.quando-disabled * {
  filter: grayscale(100%);
}

/* Fix for iOS */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #eee; 
    border-top: 1px solid #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 2px solid #eee;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
} 

/* Fix for Firefox */
input[type=number] { 
  -moz-appearance: textfield;
}

.quando-block:hover {
  margin-left: 16px;
}

.right {
  float: right
}